/* background color */
body {
 /* background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 33%, #d0d0d0 66%, #ffffff 100%);
    background: linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 25%, #fff 25%, white 100%); */
    /* background-color: rgba(0, 0, 0, 0.102); */
    /* background-color: white; */
    /* background-color:#ffff; */
    
    /* background-color: rgba(22,51,0,.078); */
    background-color: rgba(0,0,0,0.75);
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.5) 5%, 
                                rgba(0,0,0,0.25) 10%, white 15%); */

    /* background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, 
    rgba(0,0,0,0.4) 5%, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.2) 15%,
    rgba(0,0,0,0.1) 20%, rgba(0,0,0,0) 25%); */
}