:root{
    --cards-border-rad: 47px;
}


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 16px; /* could possibly make bigger, since I use bigger fonts throughout my page */
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(252, 252, 252);
    color: #32302f;

    margin: 0;
    overflow-x: hidden;
}

button {
    background: transparent;
    border: none;
}

/* ****** */
/* header */
/* ****** */
.header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgb(252, 252, 252); 
    width: max-content;
    border-radius: 50px;
    padding: 10px;

    /* center the viewport */
    position: fixed;
    z-index: 5; 
    transform: translate(-50%);

    /* smoother transition */
    transition: background-color 0.3s ease;
}

.bar.scrolled {
    backdrop-filter: blur(15px) saturate(1.7);
    background-color: rgba(247, 247, 247, 0.8);
}

.bar li {
    padding: 10px 22px;
    margin: 0px 5px;
    /* transition: background-color 0.3s ease; */
}

/* .bar li a{
    padding: 6px 20px;
    margin: 0px 5px;
} */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* scrolling */
.bar li.active {
    background-color: rgb(255, 255, 255); 
    border-radius: 50px; 
    font-weight: bold;
}



/* ***** */
/* about */
/* ***** */
.title {
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Poppins', sans-serif;

    /* font-size: clamp(6rem,calc((96/16 * 1rem) + (1vw - .7625rem) * (100 * ((126/16) - (96/16))/(120 - 76.25))),7.875rem); */
    font-size: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
    font-size: 120px;
    font-weight: 700;

    padding: 140px 0 100px 0;
    margin: 0;
}

.about {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;

    padding: 0 160px;
    /* align-items: flex-start; */
}

.headshot {
    /* not entirely sure how these heights and widths are playing out */
    min-width: 360px; 
    min-height: 600px; 
    width: 360px; 
    height: 600px; 

    overflow: hidden;
    display: flex;
    align-items: center; /* maybe consider 'start' if need to crop */
    justify-content: center;
    flex: 1;

    /* aspect-ratio: 3 / 5 ; */
}

.headshot-img {
    height: 100%;
    width: auto;
    border-radius: 360px 360px 0px 0px;
    /* flex-shrink: 0; */
    object-fit: cover;
}

.about .text {
    display: flex;
    flex-direction: column;
    text-align: left;

    flex: 2;
}

.description {
    font-size: 60px;
    font-weight: 600;

    margin: 30px 0;
}

.spiel {
    margin: 0 0 30px 0;
    font-size: 22px;
    line-height: 1.4;
}




/* ******** */
/* projects */
/* ******** */
.projects {
    padding: 200px 160px 180px;
    display: flex;
    background-color: #e1dcd0;
    justify-content: center; /* or space-around */
    align-items: flex-start;
    gap: 160px;
    flex-wrap: wrap;
}

.section-title { /* also for hobbies section */
    display: flex;
    flex-direction: column;
    text-align: left;
    /* flex: 1; */
}

.hobbies .section-title { /* move to hobbies section later */
    flex: 1
}

.projects .section-title
{
    margin-top: 75px; /* for centering title with cards, formula = (300 - 150px) / 2 = 75px */
    /* 300 is height of cards, 150 is height of title without spiel */
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    margin: 0;
}

.subtext { /* also for hobbies section */
    font-size: 20px;
    /* margin top and bottom: 1em = 1 unit of font size = 20px (default behavior) */
}

input {
    display: none;
}

.carousel {
    width: 100%;
    /* height: 100%; */
    max-width: 500px;
    /* max-height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.cards {
    position: relative;
    height: 300px;
    width: 300px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
    transition: transform 0.55s ease;
    border-radius: var(--cards-border-rad);
}

.cards .card {
    /* position: relative; */
    height: 100%;
    width: 100%;
    border-radius: var(--cards-border-rad);

}

.cards .proj-img {
    border-radius: var(--cards-border-rad); /* according to apple icon */
    
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .3s;
}

.cards #slide1-etch .proj-img { /* etch-a-sketch */
    padding: 16px;
    background-color: gold;
}

.cards #slide2-rps .proj-img { /* rock paper scissors */
    background-color: #F0F8FF;
}

.cards .proj-img:hover {
    transform: scale(1.05);
}

/* information */
.infos {
    position: relative;
    height: 235px;
    width: 500px;
    margin: 64px 0 0 0 ;
}

.infos .info{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;

    padding: 0 40px;
}

.infos h2 {
    margin: 0;
} 

.infos p {
    font-size: 18px;
    line-height: 1.5;
}

.infos .btn-details {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
    margin-top: 50px;
}

.infos .button
{
    background-color: rgb(252, 252, 252);
    font-size: 16px;
    flex: 1;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border: 1px solid #32302f;

    letter-spacing: 2px;

}

.infos .button:hover
{
    background-color: #CDC5B1;
    font-weight: bold;
}

/* card positioning one over */
#s1:checked~.cards #slide2-rps,
#s2:checked~.cards #slide3-tipmate,
#s3:checked~.cards #slide4-ralph,
#s4:checked~.cards #slide1-etch {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(130px, 0, -140px); 
}

/* main card positioning */
#s1:checked~.cards #slide1-etch,
#s2:checked~.cards #slide2-rps,
#s3:checked~.cards #slide3-tipmate,
#s4:checked~.cards #slide4-ralph {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
}

/* one over other side */
#s1:checked~.cards #slide4-ralph,
#s2:checked~.cards #slide1-etch,
#s3:checked~.cards #slide2-rps,
#s4:checked~.cards #slide3-tipmate {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(-130px, 0, -140px);
}

/* hidden card(s) */
#s1:checked~.cards #slide3-tipmate,
#s2:checked~.cards #slide4-ralph,
#s3:checked~.cards #slide1-etch,
#s4:checked~.cards #slide2-rps {
    display: none;
}

/* display infos */
#s1:checked ~ .infos #info1-etch,
#s2:checked ~ .infos #info2-rps,
#s3:checked ~ .infos #info3-tipmate,
#s4:checked ~ .infos #info4-ralph {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}

/* buttons */
.carousel-controls {
    position: absolute;
    top: 351px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: none; /* Ensure the buttons don't interfere with mouse events */
}

.carousel-control {
    background: transparent;
    border: none;
    padding: 0;
    color: hsl(30, 3%, 25%);
    cursor: pointer;
    font-size: 28px;
    pointer-events: auto; /* Ensure the buttons can be clicked */

}

.carousel-control.prev {
    position: absolute;
    left: 0;
    transition: all .3s;
    padding: 10px 10px 10px 0px;
}

.carousel-control.next {
    position: absolute;
    right: 0;
    transition: all .3s;
    padding: 10px 0 10px 10px;
}

.carousel-control:hover {
    transform: scale(1.6);
    color: hsl(30, 3%, 19%);
}




/* ******* */
/* hobbies */
/* ******* */
.hobbies {
    padding: 170px 0 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobbies .section-title {
    text-align: center;
}

.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgb(198, 212, 221);
    margin: 60px 100px 70px;
    border-radius: 64px;

    /* height: 500px; */
    padding: 50px;
    gap: 50px;
}

.section {
    max-width: 500px; /* will prob need a variable for this */
    text-align: left;
    padding: 0px;
}


.icon {
    width: 80px;
    height: auto;

    transition: all .3s
}

.icon:hover {
    transform: scale(1.2);
}

.section .text{
    font-size: 18px;
    line-height: 1.5;
}


#writing .medium{
    text-decoration: underline;
}

#writing .medium:hover{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: -0.5px;
}


/* travel subsection */
.travel {
    display: flex;
    flex-direction: column;
}

.travel-plan {
    font-size: 20px;
    margin: 0 400px 30px;
    text-align: left;
    line-height: 1.5;
}

.travel-plan .imgur{
    transition: all .3s ease;
    text-decoration: underline;
}

.travel-plan .imgur:hover{
    font-weight: bold;
}


.images {
    margin: 40px 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* color: rgb(242, 242, 242); */
}


/* slider */
.slider-container { /* previously .large, .small */
    background-color: transparent;
    /* height: 400px; */
    border-radius: 16px;
    position: relative;
}

.slider-container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.large {
    flex: 16;
    aspect-ratio: 4 / 3;
}

.small {
    flex: 9;
    aspect-ratio: 3 / 4;
}


.slider-container .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    
    border-radius: 16px;
    overflow: hidden;

    transition: 300ms opacity ease-in-out;
    transition-delay: 300ms;

}

.slider-container .slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.slide > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.slider-container .slider-button {
    position: absolute;
    z-index: 2;
    font-size: 80px; /* 5 rem */

    top: 50%;
    transform: translateY(-50%);

    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;

    height: 100%;
    padding: 0px 16px; /* 1 rem */
}

.slider-container .slider-button:hover {
    opacity: 1;
}

.slider-button.prev{
    left: 0px; 
}

.slider-button.next{
    right: 0px; 
}

/* caption */
.slider-container .slide figcaption{
    position: absolute;
    z-index: 3;
    color: #32302f;
    background-color: rgb(252, 252, 252);
    left: 18px;
    bottom: 16px;

    border-radius: 10px;
    padding: 14px 16px;
    font-size: 14px;
    /* font-weight: 500; */
    letter-spacing: 0.5px;
    opacity: 0;

    transform: translateY(24px); 
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.slide img:hover + figcaption, .slide figcaption:hover, 
.slider-button:hover ~ ul .slide[data-active] figcaption{
    opacity: 1;
    transform: translateY(0);
}




/* ****** */
/* footer */
/* ****** */
.footer{
    background-color: #32302f;
    color: rgb(242, 242, 242);
    padding: 100px 120px 60px;

    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-around;
}

.copyright {
    font-size: 20px;
}

.links {
    display: flex;
    gap: 60px;
    text-align: left;
}

.elsewhere .subtext, 
.contact .subtext {
    /* margin-bottom: 10px; */
    font-weight: 700;
    font-size: 22px;
}

.links li {
    margin-bottom: 20px;
    font-size: 18px;
}

/* hover over elsewhere links */
.footer .links a {
    transition: color 0.3s ease; /* Smooth transition effect */
}

.footer .links a:hover {
    color: rgb(200, 200, 200); /* Color when hovered, you can change to your desired color */
}

.bottom p {
    margin: 100px 0 0 0;
    font-style: italic;
    color: #696664;
}


/* loading page */
.hidden {
    opacity: 0;
    /* transition: opacity 0.8s ease; */
}

.visible {
    opacity: 1;
}

.slide-effect {
    opacity: 0;
    transform: translateY(20px); /* Slide from below */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.slide-effect.visible {
    opacity: 1;
    transform: translateY(0);
}
