* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 16px; /* could possibly make bigger, since I use bigger fonts throughout my page */
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(252, 252, 252);
    color: #32302f;

    margin: 0;
}


/* ****** */
/* header */
/* ****** */
.header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgb(252, 252, 252); 
    width: max-content;
    border-radius: 50px;
    padding: 10px;

    /* center the viewport */
    position: fixed;
    z-index: 5; 
    transform: translate(-50%);

    /* smoother transition */
    transition: background-color 0.3s ease;
}

.bar.scrolled {
    backdrop-filter: blur(15px) saturate(1.7);
    background-color: rgba(247, 247, 247, 0.8);
}

.bar li {
    padding: 6px 20px;
    margin: 0px 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


/* ***** */
/* about */
/* ***** */
.title {
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Poppins', sans-serif;

    /* font-size: clamp(6rem,calc((96/16 * 1rem) + (1vw - .7625rem) * (100 * ((126/16) - (96/16))/(120 - 76.25))),7.875rem); */
    font-size: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
    font-size: 120px;
    font-weight: 700;

    padding: 140px 0 100px 0;
    margin: 0;
}

.about {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;

    padding: 0 160px;
}

.headshot {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    background-color: black;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

.headshot-img {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.about .text {
    display: flex;
    flex-direction: column;
    text-align: left;

    flex: 2;
}

.description {
    font-size: 60px;
    font-weight: 600;

    margin: 30px 0;
}

.spiel {
    margin: 0 0 30px 0;
    font-size: 22px;
}

/* ******** */
/* projects */
/* ******** */
.projects {
    padding: 200px 160px 0;
    display: flex;
    background-color: #e1dcd0;

    justify-content: center;
    align-items: center;
    gap: 160px;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.section-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    margin: 0;
}

.subtext {
    font-size: 20px;
}

.box {
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;

    width: 500px;
    height: 200px;

    border-top-right-radius: 64px;
    border-top-left-radius: 64px;

    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

#ralph {
    position: relative;
    height: 600px;
    }

#rock {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
  }

#tip {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
  }

#etch {
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
}

.box .text {
    margin-top: 0;

}

/* ******* */
/* hobbies */
/* ******* */
.hobbies {
    padding: 180px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobbies .section-title {
    text-align: center;
}

.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */

    background-color: rgb(198, 212, 221);
    /* background-color: rgb(173, 216, 230); */
    /* background-color:#e8dfdc; */

    margin: 60px 120px;
    border-radius: 64px;

    /* height: 500px; */
    padding: 50px;
    gap: 50px;
}

.section {
    max-width: 500px; /* will prob need a variable for this */
    text-align: left;
    padding: 0px;
}

.icon {
    width: 80px;
    height: auto;
}

#sports .icon {
    margin-top: 20.266px;
}

/* travel subsection */
.travel {
    display: flex;
    flex-direction: column;
}

.travel-plan {
    font-size: 20px;
    margin: 0 400px 60px;
    text-align: left;
}

.images {
    margin: 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: rgb(242, 242, 242);
}

.large, .small {
    background-color: #32302f;
    height: 400px;
    border-radius: 16px;
}

.large {
    flex: 5;
}

.small {
    flex: 2;
}


/* ****** */
/* footer */
/* ****** */
.footer{
    background-color: #32302f;
    color: rgb(242, 242, 242);
    padding: 100px 120px 60px;

    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-around;
}

.copyright {
    font-size: 20px;
}

.links {
    display: flex;
    gap: 60px;
    text-align: left;
}

.elsewhere .subtext, 
.contact .subtext {
    /* margin-bottom: 10px; */
    font-weight: 700;
    font-size: 22px;
}

.links li {
    margin-bottom: 20px;
    font-size: 18px;
}

/* hover over elsewhere links */
.footer .links a {
    transition: color 0.3s ease; /* Smooth transition effect */
}

.footer .links a:hover {
    color: rgb(200, 200, 200); /* Color when hovered, you can change to your desired color */
}

.bottom p {
    margin: 100px 0 0 0;
    font-style: italic;
    color: #696664;
}


/* **** */
/* TODO */
/* **** */
/* - maybe learn grid
   - probably use variables for sizing, padding, margins, that auto calculate when screen size changes
   - make it mobile friendly 
*/
